/* 変数=================================================*/
:root {
    --color-y: #F2FD6B; /* 黄色 */
    --color-p: #EC7FB1; /* ピンク色 */
    --color-bp: #D66F9E; /* 濃いピンク色 */
    --color-r: #FF6B6B; /* 赤色 */
    --color-body: #F5F5F5; /* bodyの基本色 */

    --font-size-large: 24px; /* 大きめ */
    --font-size-semi-large: 20px; /* 少し大きめ */
    --font-size-normal: 16px; /* 普通 */
    --font-size-semi-small: 14px; /* 少し小さめ */
    --font-size-small: 12px; /* 小さめ */
}

/*=======================================================*/

/* 全体==================================================*/
body {
    /* アンチエイリアスを有効にする */
    -webkit-font-smoothing: antialiased;
    background-color: #F5F5F5;
}

/*=======================================================*/

/* header ===============================================*/
header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #f3f3f3;
    top: 0;
    left: 0;
}

h1 {
    display: none;
}

#head_top {
    width: 75%;
    height: 10vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    grid-column-gap: 40px;
    align-items: center;
}

#logo-container {
    height: 80%;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}


#search_box {
    display: flex;
    align-items: center;
    justify-content: end;
}


#viewSelect,
#search_box input[type="search"],
#glass {
    height: 5vh;
    padding: 0 1em;
    color: var(--color-p);
    border: solid 1px var(--color-p);
    margin-left: -1px;
}

#search_box input[type="search"] {
    width: 50%;
}

#loginbox {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;

    > p {
        font-weight: bold;
        transform: translateX(-10px);
    }

    .user_icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url('../img/uploads/user_icon/524eb29f80c08491874e06c4ac36706c.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    button {
        padding: 5px 25px;
        font-size: var(--font-size-semi-large);
        border: solid 2px;
        border-radius: 10px;
        border-color: var(--color-bp);
    }

    .my_page_btn,
    .new_request  button {
        border-radius: 5px;
        font-size: 18px;
        border: 1.5px solid var(--color-p);
    }

    .my_page_select {
        position: relative;

        .my_page_btn {
            background-color: #fff;
            color: var(--color-p);
            padding: 5px 30px;
        }

        .option_list {
            display: none;
            position: absolute;
            top: 40px;
            left: 0;
            background-color: #fff;
            z-index: 99;
            transform: translateY(-3px);
        }

        .option_list li {
            height: 40px;
            width: 152px;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px dashed var(--color-p);
        }
    }


    .new_request  button {
        padding: 5px 10px;
        background: var(--color-p);
        color: #fff;
    }

    .new_request  button:hover {
        background: #fff;
        color: var(--color-p);
    }
}


#registration {
    background-color: var(--color-y);
    color: var(--color-p);
}

#login {
    background-color: var(--color-p);
    color: white;
}


.option_list li:hover {
    background-color: var(--color-p);

}

.option_list li:hover a {
    color: #fff;
}

nav {
    background-color: var(--color-p);
    position: relative;

    > ul {
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        > li {
            width: 180px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            a {
                color: white;
                text-decoration: none;
                font-size: var(--font-size-semi-large);
            }
        }

        li:hover a {
            color: #818181;
        }
    }
}

.line {
    position: absolute;
    height: 5px;
    width: 100%;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.short_line {
    position: absolute;
    width: calc(1260px / 7);
    background-color: #F2FD6B;
    height: 5px;
    transition: 0.4s;
}

footer {
    height: 35vh;
    width: 100%;
    background-color: var(--color-p);
    display: grid;
    grid-template-rows:85% 15%;
    margin-top: 8vh;
}

footer > .footer-section {
    height: 85%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #fff;
    margin: auto;
}

footer > .footer-bottom {
    text-align: center;

}

footer > .footer-section a {
    color: #fff;
}

footer > .footer-section a:hover {
    color: #818181;
}

footer > .footer-section h3 {
    line-height: 50px;
}

footer > .footer-section li {
    line-height: 40px;
}


footer .help,
footer .support,
footer .operation-policy,
footer .social-media {
    text-align: center;
    color: #fff;
}

footer .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 100px 65px 100px;
}


.icon {
    fill: #fff;
    height: 40px;
}

.icon :hover {
    fill: #818181;
}

footer > .footer-bottom > small {
    color: #fff;
}



/*=======================================================*/
