main > h2 {
    grid-column: 1 / -1;
    line-height: 100px;
}

#faq {
    display: flex;
    gap: 20px;

    .sidebar ul {
        background: #ec7fb1;
        min-width: 300px;
    }

    .sidebar li {
        position: relative;
        padding: 18px 25px; /* 三角形アイコンのスペースを確保 */
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        border-bottom: 1.5px dashed #ddd; /* 各 li の下に区切り線を追加 */
        transition: background-color 0.3s;
    }


    .sidebar .active {
        color: #FFEC1A;
    }

    .sidebar li:hover {
        color: #FFEC1A;
    }

    /* サイドバーのタイトルスタイル */

    .sidebar-title {
        font-size: var(--font-size-large);
        font-weight: bold;
        color: var(--color-p);
        margin-bottom: 15px;
        text-align: center;
    }

    .content {
        flex: 1;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        border-radius: 5px;

        > h3 {
            font-size: var(--font-size-large);
            color: var(--color-p); /* タイトルテキストをピンク色に設定 */
            display: flex; /* アイコンとテキストを整列 */
            align-items: center; /* アイコンとテキストを垂直に中央揃え */
            margin-bottom: 40px;
            padding-bottom: 5px; /* 下線との間隔を確保 */
            border-bottom: 2px solid var(--color-p); /* ピンクの下線を追加 */

            .icon {
                display: inline-block;
                width: 50px;
                height: 50px;
                background: url('../img/faq.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 8px; /* アイコンとテキストの間隔を調整 */
            }
        }
    }

    .faq-item {
        > h3 {
            font-weight: normal;
            line-height: 40px;

            > .icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url('../img/Ask Question.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 6px;
                transform: translateY(5px);
            }
        }

        > p {
            color: #676767;
            margin-bottom: 20px;
        }
    }


}