#forgot_password {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    backdrop-filter: blur(8px);
    z-index: 102;
}

#forgot_password {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    backdrop-filter: blur(8px);
}

.forgot_password_box {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding:0 100px 100px 100px;
    background: #f5f5f7;
    box-shadow: 0 3px 8px 0 rgba(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgot_password h2 {
    line-height: 70px;
}

#forgot_password .mail_input_box {
    margin-bottom: 20px;
}

#forgot_password .ps_input_box,
#forgot_password .mail_input_box,
#forgot_password .otp_code_input_box {
    width: 560px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
}

.mail_input_box div:first-of-type,
.otp_code_input_box div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-column-gap: 5px;
    font-weight: bold;
}

.ps_input_box  div,
.otp_code_input_box div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 30px;
    font-weight: bold;
}


.mail_input_box > p,
.otp_code_input_box > p {
    margin-bottom: 20px;
}

#forgot_password form p {
    line-height: 40px;
}


#forgot_password button:nth-child(1) {
    background-color: #818181;
}

#forgot_password form > small:nth-of-type(2),
#forgot_password form > small:nth-of-type(3) {
    color: #818181;
}

