/* 内側および外側の余白をリセット */
main {
    margin: 0;
    padding: 0;
    width: 100%;
}

#carousel_banner {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-bottom: 40px;
    overflow: hidden;

    .carousel_imgs {
        width: 500%;
        height: 100%;
        display: flex;
        position: absolute;
        left: 0;
        transition: 1s;

        li {
            width: 100%;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }

        li:nth-child(1) {
            background-image: url("../img/index_image/image1.png");
        }

        li:nth-child(2) {
            background-image: url("../img/index_image/image2.png");
        }

        li:nth-child(3) {
            background-image: url("../img/index_image/image3.png");
        }

        li:nth-child(4) {
            background-image: url("../img/index_image/image4.jpg");
        }

        li:nth-child(5) {
            background-image: url("../img/index_image/image1.png");
        }
    }


    .bold_dot {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 20px;
        width: 25%;
        z-index: 15;
        left: 50%;
        transform: translateX(-50%);

        li {
            width: 70px;
            height: 8px;
            cursor: pointer;
            /*border-radius: 50%;*/
            background: rgba(0, 0, 0, 0.5);
        }
    }


    .carousel_button {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 3%;
        display: flex;
        justify-content: space-between;
        user-select: none;

        .carousel_button_left,
        .carousel_button_right {
            width: 60px;
            font-size: 28px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
            padding: 10px 16px;
            cursor: pointer;
            color: #fff;
            z-index: 99;
        }

        .carousel_button_right {
            padding: 10px 20px;
        }
    }
}

#search_container {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 300px;
    width: 75%;
    margin: 0 auto 60px;
    overflow: hidden;
    transition: 0.6s;
    border-radius: 20px;
}

#irai_search {
    height: 100%;
    width: 100%;
    position: relative;
    background: #f2fd6b;
    border-radius: 20px;
    cursor: pointer;

    div:first-of-type {
        height: 100%;
        width: 100%;
        background: #f2fd6b;
        transform: translateX(25%) skew(45deg);
        border-radius: 20px;
        transition: 0.6s;
    }

    .img {
        background-image: url("../img/index_image/依頼を探す.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: -10%;
        top: 5%;
        height: 80%;
        width: 100%;
    }

}


#seisaku_search {
    height: 100%;
    width: 100%;
    position: relative;
    background: #ec7fb1;
    border-radius: 20px;
    cursor: pointer;

    div:first-of-type {
        height: 100%;
        width: 100%;
        background: #ec7fb1;
        transform: translateX(-25%) skew(45deg);
        border-radius: 20px;

    }

    .img {
        background-image: url("../img/index_image/制作者を探す.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 10%;
        top: 0;
        height: 80%;
        width: 100%;
    }

}

#search_container:hover .search_img {
    filter: grayscale(100%) opacity(50%);
}

#search_container .search_img:hover {
    filter: grayscale(0%) opacity(100%);
}

#search_container:has(#irai_search:hover) {
    grid-template-columns: 1.5fr 1fr;
}

#search_container:has(#seisaku_search:hover) {
    grid-template-columns: 1fr 1.5fr;
}


#wave {
    position: relative;
    width: 100%;
    height: 20vh;

    .waveWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }

    .bgTop {
        z-index: 15;
        /*opacity: 0.5;*/
    }

    .bgMiddle {
        z-index: 10;
        opacity: 0.75;
    }

    .bgBottom {
        z-index: 5;
    }

    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 100%;
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
    }

    .waveTop {
        background-size: 50% 150px;
    }

    .waveAnimation .waveTop {
        animation: move_wave 20s linear infinite;
    }

    .waveMiddle {
        background-size: 50% 150px;
    }

    .waveAnimation .waveMiddle {
        animation: move_wave 10s linear infinite;
    }

    .waveBottom {
        background-size: 50% 100px;
    }

    .waveAnimation .waveBottom {
        animation: move_wave 15s linear infinite;
    }
}

#requests_box {
    width: 100%;
    height: 68vh;
    background: #f2fd6b;
    position: relative;

    > h3 {
        font-family: "Yusei Magic", sans-serif;
        font-size: 35px;
        font-weight: normal;
        margin-left: 12.5%;
        margin-bottom: 40px;
    }

    > form > button {
        position: absolute;
        bottom: 40px;
        right: 12.5%;
        font-size: 16px;
        color: #FF3578;
        font-weight: bold;
        cursor: pointer;
        border: none;
        background: none;
        transition: 0.6s;
    }

    > form > button:hover{
        letter-spacing: 3px;
    }

    > div {
        margin: 0 auto 40px;
        width: 75%;
        height: 360px;
        overflow: hidden;

        > ul {
            height: 100%;
            display: flex;
            animation: swiperAnim 15s linear infinite;

            > li {
                flex: 250px 0 0;
                margin-right: 70px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                cursor: pointer;
                transition: 0.6s;

                .request_img {
                    position: relative;
                    flex: 80% 0 1;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    margin-bottom: 20px;
                }

                .request_text {
                    position: absolute;
                    height: 40%;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    background: rgba(217, 217, 217, 0.7);
                    padding: 20px;
                }

                .request_title {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                }

                .request_time {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }

                .request_statu {
                    position: absolute;
                    top: 20px;
                    left: -10px;
                    padding: 10px 20px;
                    background: #ff6b6b;
                    color: #F5F5F5;
                }

                .request_statu::before {
                    content: '';
                    position: absolute;
                    bottom: -9px;
                    left: 0;
                    width: 0;
                    height: 0;
                    border: 5px solid #ff6b6b;
                    border-bottom-color: #faf7ea;
                    border-left-color: #faf7ea;
                }


                .request_category {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 5px;
                    right: 0;
                    transform: translateX(100%);


                    p {
                        padding: 12px 3px;
                        background: rgba(0, 0, 0, 0.6);
                        color: #F5F5F5;
                        writing-mode: vertical-lr;
                        margin-bottom: 3px;
                    }
                }

                .apply_btn {
                    flex: 13% 0 1;
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                    background: #ff6b6b;
                    color: #F5F5F5;
                    font-weight: bold;
                }
            }

            > li:hover {
                transform: scale(1.025);
                box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .5);
            }
        }
    }
}

/*===============================================================*/
/*アニメーション*/
/*===============================================================*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes swiperAnim {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-2560px)
    }
}