/*============================================================*/
/*依頼詳細ページのCSS*/
/*============================================================*/
#request {
    h2 {
        position: relative;
        padding-top: 80px;
        text-indent: 4rem;
        color: #ec7fb1;
        border-bottom: 2px solid #ec7fb1;

        img {
            position: absolute;
            width: 50px;
            height: auto;
            left: 0;
            bottom: 0;
        }
    }

    .header {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 40px;
        padding: 10px 0;
        margin-bottom: 40px;

        .request_statu {
            padding: 5px 15px;
            background: #ff6b6b;
            color: #fff;
        }

        .request_category {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            > div {
                font-weight: bold;
                padding: 5px 15px;
                color: #fff;
            }

            > div:nth-of-type(1) {
                font-size: 25px;
                color: #ec7fb1;
            }
        }
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-column-gap: 60px;
        margin-bottom: 40px;

        .request_images {
            display: flex;
            gap: 20px;

            .big_img {
                width: 350px;
                height: 350px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                border: 1.5px solid #818181;
                overflow: hidden;
            }

            .small_img {
                width: 80px;
                height: 350px;
                overflow: auto;

                > div {
                    width: 100%;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    border: 1.5px solid #818181;
                    cursor: pointer;
                    overflow: hidden;
                    margin-bottom: 10px;
                }

                > div:hover {
                    border: 2px solid #ec7fb1;
                }
            }
        }

        .request_content {
            display: grid;
            grid-template-rows: 1fr 2fr;

            .user_box {
                display: grid;
                grid-template-columns: 1fr 2fr 3fr;
                grid-column-gap: 10px;
                border-bottom: 1.5px dashed #D66F9E;

                .user_icon {
                    width: 100px;
                    height: 100px;
                }

                > div:nth-of-type(2) {
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    > p:nth-of-type(1) {
                        color: #818181;
                        font-size: 14px;
                    }
                }

                > div:nth-of-type(3) {
                    position: relative;
                    height: 100px;

                    button {
                        position: absolute;
                        padding: 10px 20px 10px 50px;
                        background: #6ec5b8;
                        border-radius: 5px;
                        color: #F5F5F5;
                        left: 0;
                        bottom: 0;

                        > svg {
                            position: absolute;
                            top: 50%;
                            left: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }


            ;
            }

            .profile {
                padding: 20px 0;
                overflow: auto;
                height: 232slpx;
            }
        }
    }

    .other {
        width: 100%;
        margin-bottom: 40px;

        .title {
            width: 100%;
            line-height: 45px;
            text-align: center;
            color: #ec7fb1;
            font-size: 22px;
            font-weight: normal;
            background-image: url('../img/title_wing.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            margin-bottom: 20px;
        }

        > div:first-of-type {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 20px;

            > div {
                margin-bottom: 20px;
                width: 100%;
                height: 70px;
                display: grid;
                grid-template-rows: 1fr 1fr;

                > p {
                    width: 100%;
                    line-height: 35px;
                    text-align: center;
                }

                > p:nth-of-type(1) {
                    background: #ec7fb1;
                    color: #f3f3f3;
                }

                > p:nth-of-type(2) {
                    background: #fff;
                }
            }

            > div:nth-of-type(7),
            > div:nth-of-type(8) {
                height: 210px;
                grid-template-rows: 1fr 5fr;
            }

            > div:nth-of-type(8) {
                > p:nth-of-type(2) {
                    overflow: auto;
                }
            }

            > div:nth-of-type(7) {
                background: #fff;

                > div {
                    background-image: url('../img/desired_date_bg.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    position: relative;

                    > p {
                        position: absolute;
                        font-size: 40px;
                        color: #FF3578;
                        font-weight: bold;
                    }

                    > p:nth-of-type(1) {
                        font-size: 22px;
                        color: #333;
                        top: 5%;
                        left: 5%;
                    }

                    > p:nth-of-type(2) {
                        top: 37%;
                        left: 22%;
                    }

                    > p:nth-of-type(3) {
                        top: 37%;
                        left: 60%;
                    }
                }
            }

            > div:nth-of-type(8) {
                grid-column: 2 / span 2;

                > p:nth-of-type(2) {
                    text-align: left;
                    line-height: 22px;
                    padding: 10px 30px;
                }
            }
        }
    }

    .foot {
        width: 100%;
        position: relative;
        height: 90px;

        button {
            width: 300px;
            height: 50px;
            background-image: url('../img/btn_bg1.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: 5px;
            border: 1.5px solid #D66F9E;
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .3);
        }
    }
}