/* 内側および外側の余白をリセット */
main {
    margin: 0;
    padding: 0;
    width: 100%;
}

#top_image{
    width: 100%;
    height: 70vh;
    background-image: url(/static/img/index_image/image.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

#search_container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
}

#irai_search{
    flex: 0 1 40%;
    margin-left: 9%;
    background-image: url(/static/img/index_image/image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: -4%;
}

#seisaku_search{
    flex:0 1 40%;
    margin-right: 9%;
    background-image: url(/static/img/index_image/image2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -4%;
}

