{% extends 'base.html' %}

{% block overlay_style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">{% endblock %}

{% block title %} 管理者編集画面 {% endblock %}

{% block header %}

    <h2>管理者編集</h2>
    <form action="/admin_manage">
        <button type="submit">管理者一覧へ</button>
    </form>

{% endblock %}

{% block content %}

    <div class="managers">
        <form action="/modify_admin" method="post">
            <label>ユーザID:<input type="text" name="admin_id" value="{{ admin.admin_id }}"> </label>
            
            
            <label>ユーザー名: <input type="text" name="admin_name" value="{{ admin.admin_name }}"></label><br>
            <label>パスワード有効期限: <input type="text" name="password_expiration_date" value="{{ admin.password_expiration_date }}"></label><br>
            
            
            <div id="pre_permissoins">
                <h3>現在の権限</h3>
                    {% for role in roles %}
                        <label>
                            <input type="checkbox" name="permissions" value="{{ role }}" {% if role | contains(admin.admin_permissions)  %}checked{% endif %}> {{ role }}
                        </label><br>
                    {% endfor %}
            </div>
                
            <button type="submit">管理者修正</button>
        </form>
        <button onclick="confirmDelete('{{ admin.admin_id }}')">削除</button>
    </div>
    

    <!--削除確認モーダル-->
    <div id="deleteModal" style="display:none;">
        <p>本当に削除しますか？</p>
        <button onclick="deleteAdmin()">はい</button>
        <button onclick="closeModal()">いいえ</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/admin_manage.js') }}"></script>
    <script>
        let adminIdToDelete = null;

        // 削除ボタンが押されたら
        function confirmDelete(admin_id){
            adminIdToDelete = admin_id;
            document.getElementById("deleteModal").style.display = "block";
        }

        // モーダルを閉じる
        function closeModal() {
            document.getElementById("deleteModal").style.display = "none";
        }

        // 管理者を削除する関数
        function deleteAdmin() {
            if (adminIdToDelete) {
                // バックエンドに削除リクエスト
                fetch(`/admin/delete/${adminIdToDelete}`, {method: 'DELETE'})
                    .then(response => {
                        if (response.ok) {
                            alert("削除が完了しました");
                            location.replace("/admin_manage"); // ページをリロードして更新
                        } else {
                            alert("削除に失敗しました");
                        }
                    });
                closeModal();
            }
        }
    </script>
{% endblock %}