<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block overlay_style %}{% endblock %}
</head>

<body>
    <div class="sidebar" style="z-index: 99999999;">
        <button class="close-button">閉じる</button>
        <div class="side-menu">
            <form action="/notification" method="get">
                <button type="submit">お知らせ</button>
            </form>
            <form action="/inquiry_list" method="get">
                <button type="submit">お問い合わせ</button>
            </form>
            <form action="/application_list" method="get">
                <button type="submit">制作者審査</button>
            </form>
            <button>アクションログ</button>
            <form action="/fraud_reports" method="get">
                <button type="submit">アカウント関連</button>
            </form>
            <form action="/data" method="post">
                <button type="submit">情報閲覧</button>
            </form>
            <form action="/admin_manage" method="get">
                <button type="submit">管理者管理</button>
            </form>
            <form action="/logout" method="get">
                <button>ログアウト</button>
            </form>
        </div>
    </div>
    <div class="main-content">
        <div class="header">
            <button class="nav-button" style="display: block;">ナビ</button>
            {% block header %}{% endblock  %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% block script %}{% endblock %}

</body>
</html>
