{% extends 'base.html' %}

{% block overlay_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inquiry.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
{% endblock %}

{% block title %} 情報画面 {% endblock %}

{% block header %}
    <h2>情報閲覧</h2>

    <div class="button">
        <button type="submit">表示方法</button>
        <button>項目の追加</button>
        <button>項目削除</button>
        <!-- 項目は追加したものがバツ印がついた状態で並び,バツ印をクリックするとその項目の表示が消える -->
        <button>表示期間の指定</button>
        <button>外部出力</button>
    </div>

{% endblock %}

{% block content %}

    <div id="chart" style="width: 600px;height:400px;"></div>
    <script>
        var chartDom = document.getElementById('chart');
        var myChart = echarts.init(chartDom);
        var option = {{ chart_options | safe }};
        myChart.setOption(option);
    </script>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/notificatoin.js') }}"></script>

{% endblock %}