{% extends 'base.html' %}

{% block overlay_style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">{% endblock %}

{% block title %} お知らせ画面 {% endblock %}

{% block header %}

    <div class="button">
        <button>投稿済み</button>
        <button>予約投稿</button>
        <button>下書き</button>
        <form action="/add_notification" method="get">
            <button type="submit">追加</button>
        </form>
        <button>修正</button>
        <button>削除</button>
    </div>

{% endblock %}

{% block content %}

    <div class="notice">
        <h3>お知らせ一覧</h3>
        {% for notification in notifications %}
            {% set detail_url = url_for('notification_detail', notification_id=notification.notification_id) %}
            <div class="notice-item" onclick="window.location.href='{{ detail_url }}'">
                <div class="notice-id">お知らせID:{{ notification.notification_id }}</div>
                <div class="notice-title">お知らせタイトル:{{ notification.notification_title }}</div>
                <div class="notice-content">お知らせ内容:{{ notification.notification_content }}</div>
                <div class="notice-post-time">投稿時間:{{ notification.notification_post_time }}</div>
            </div>
        {% endfor %}
        <ul>
            {% for item in items %}
                <li class="notice-item">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/notificatoin.js') }}"></script>
{% endblock %}