<div class="chat_content">
    <div class="chat_area">
        <div class="chat_search_box">
            <input type="search">
            <img src="{{ url_for('static', filename='img/search_icon.svg') }}">
        </div>
        <div class="channel_area">
            <ul class="channel_boxes">
                <li>
                    <div class="user_icon">
                        <div class="unread_msg_count"></div>
                    </div>
                    <div>
                        <div class="channel_name">COSBARA</div>
                        <div class="channel_time">19:02</div>
                        <div class="channel_msg">
                            <p>こんにちは。このたびは、当店のサービスをご利用ありがとうございます。</p>
                        </div>
                    </div>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="chat_user_box">
            <div class="chat_user_box_btn"><p>▶</p></div>
            <div>
                <img class="user_icon_img" src="{{ url_for('static', filename='img/user_icon.svg') }}">
                <ul class="users">
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                    <li class="user_icon"></li>
                </ul>
                <div class="add_user">
                    <img src="{{ url_for('static', filename='img/add_user_icon.svg') }}">
                </div>
            </div>
        </div>
        <div class="add_user_area">
            <h3>友たち追加</h3>
            <ul>
                <li><label><input type="radio" name="add_user">ID</label></li>
                <li><label><input type="radio" name="add_user">メールアドレス</label></li>
            </ul>
            <input type="text" name="user">
            <button>検索する</button>
            <button class="close_btn">×</button>
        </div>
    </div>
    <div class="img_box">
        <img src="{{ url_for('static', filename='img/chat_icon.svg') }}">
    </div>
    <div class="chat_interface">
        <div class="chat_interface_header">
            <p>＜</p>
            <p>COSBARA</p>
            <p>...</p>
        </div>
        <div class="chat_interface_content">
            <ul>
                <li>
                    <div class="user_icon"></div>
                    <div class="received_box">
                        <p>COSBARA</p>
                        <div class="receivedMessage">
                            <p>お世話になっております。ご依頼いただいたオーダーメイドスーツの進捗についてご報告です。<br>
                                現在、パターンの調整を完了し、生地の裁断に入っております。<br>
                                仕上がりは予定通り、来週中頃となります。何かご不明点がございましたらお知らせください。</p>
                            <img src="{{ url_for('static', filename='img/cyonncyonn1.svg') }}">
                            <div>
                                <p>既読</p>
                                <p>15:26</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sentMessage">
                        <p>ご報告ありがとうございます。了解しました。特に問題はないので、仕上がりを楽しみにしております。</p>
                        <img src="{{ url_for('static', filename='img/cyonncyonn2.svg') }}">
                        <p>15:30</p>
                    </div>
                </li>
            </ul>
        </div>
        <label>
            <div class="chat_input_box">
                <textarea placeholder="メッセージを入力"></textarea>
                <div><img src="{{ url_for('static', filename='img/send_icon.svg') }}"></div>
            </div>
        </label>
    </div>
    <div class="chat_title">
        <div>▼</div>
        <div>C</div>
        <div>H</div>
        <div>A</div>
        <div>T</div>
    </div>

</div>
<div class="back_top"><p>＞</p></div>

