{% extends 'base.html' %}

{% block link_area %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/star_font.css') }}">
{% endblock %}
{% block style %}{{ url_for('static', filename='css/creators.css') }}{% endblock %}

{% block content %}
    <section id="creators_view">
        <div class="title">
            <h2>制作者一覧</h2>
            <p class="creators_count">{{ count }}</p>
        </div>

        <div class="filter-options">
            <ul>
                <li><label><input type="checkbox" id="checkAll" checked> 全部</label></li>
                <li><label><input type="checkbox" id="clothing" class="ck" checked> 衣装</label></li>
                <li><label><input type="checkbox" id="modeling" class="ck" checked> 造形</label></li>
                <li><label><input type="checkbox" id="props" class="ck" checked> 小道具</label></li>
                <li><label><input type="checkbox" id="wig" class="ck" checked>ウィッグ</label></li>
                <li><label><input type="checkbox" id="accessory" class="ck" checked> アクセサリー</label></li>
                <li><label><input type="checkbox" id="others" class="ck" checked>その他</label></li>
            </ul>
            <select class="status_options">
                <option selected>すべて</option>
                <option>依頼可能</option>
                <option>相談可能</option>
                <option>一時停止</option>
            </select>
        </div>

        <div class="creators-list">
            <ul>
                {% if results %}
                    {% for result in results %}
                        <li class="creator_box">
                            <div class="user_icon_box">
                                {% if result['request_availability'] == '1' %}
                                    <div>
                                        <p>制作可能</p>
                                        <div class="triangle"></div>
                                    </div>
                                {% else %}
                                    <div class="stop_temporarily">
                                        <p>制作一時停止</p>
                                        <div class="triangle"></div>
                                    </div>
                                {% endif %}
                                <div class="user_icon"
                                     style="background-image: url({{ url_for('static', filename=result['icon_path']) }})">
                                    <img src="{{ url_for('static', filename='img/gold.svg') }}">
                                </div>
                            </div>
                            <div class="user_content">
                                <div>
                                    <div class="user_name">
                                        {{ result['nickname'] }}
                                        {% if result['gender']=="1" %}
                                            <div class="user_gender" style="color: #43AEF5">♂</div>
                                        {% elif result['gender']=="2" %}
                                            <div class="user_gender">♀</div>
                                        {% endif %}
                                    </div>
                                    <div class="evaluation_box">
                                        <div class="star-rating" title="70%">
                                            <div class="back-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <div class="front-stars" style="width: 70%">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="point">4.5</div>
                                    </div>
                                    <div class="req_count">制作件数：18</div>
                                </div>
                                <div class="strong_field">
                                    得意分野
                                    {% if result['category_stages'] %}
                                        {% for i in result['category_stages'] %}
                                            {% if i=="1" %}
                                                <div class="tag"
                                                     style="background: {{ result['category_colors'][loop.index0] }}">{{ result['category_names'][loop.index0] }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="profile">
                                    {{ result['creator_notification']|safe }}
                                </div>
                            <form action="/creator/{{ result['user_id'] }}" method="post">
                                <button>プロフィールを見る</button>
                            </form>
                            </div>
                            <div class="user_img">
                                {% for i in result['images_list'] %}
                                    <div><img
                                            src="{{ url_for('static', filename=i) }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}

{% block script_area %}
    <script src="{{ url_for('static', filename='lib/fontawesome.js') }}"></script>{% endblock %}
{% block script %}{{ url_for('static', filename='js/creators.js') }}{% endblock %}