{% extends 'base.html' %}

{% block link_area %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/star_font.css') }}">
{% endblock %}
{% block style %}{{ url_for('static', filename='css/creators.css') }}{% endblock %}

{% block content %}
    <section id="creators_view">
        <div class="title">
            <h2>制作者一覧</h2>
            <p class="creators_count">999</p>
        </div>

        <div class="filter-options">
            <ul>
                <li><label><input type="checkbox" id="checkAll" checked> 全部</label></li>
                <li><label><input type="checkbox" id="clothing" class="ck" checked> 衣装</label></li>
                <li><label><input type="checkbox" id="modeling" class="ck" checked> 造形</label></li>
                <li><label><input type="checkbox" id="props" class="ck" checked> 小道具</label></li>
                <li><label><input type="checkbox" id="wig" class="ck" checked>ウィッグ</label></li>
                <li><label><input type="checkbox" id="accessory" class="ck" checked> アクセサリー</label></li>
                <li><label><input type="checkbox" id="others" class="ck" checked>その他</label></li>
            </ul>
            <select class="status_options">
                <option selected>すべて</option>
                <option>依頼可能</option>
                <option>相談可能</option>
                <option>一時停止</option>
            </select>
        </div>

        <div class="creators-list">
            <ul>
                <div class="loader" id="loading"></div>
                <li class="creator_box">
                    <div class="user_icon_box">
                        <div>
                            <p>依頼可能</p>
                            <div class="triangle"></div>
                        </div>
                        <div class="user_icon">
                            <img src="{{ url_for('static', filename='img/gold.svg') }}">
                        </div>
                    </div>
                    <div class="user_content">
                        <div>
                            <div class="user_name">
                                COSBARA
                                <div class="user_gender">♀</div>
                            </div>
                            <div class="evaluation_box">
                                <div class="star-rating" title="70%">
                                    <div class="back-stars">
                                        <i class="fa fa-star" ></i>
                                        <i class="fa fa-star" ></i>
                                        <i class="fa fa-star" ></i>
                                        <i class="fa fa-star" ></i>
                                        <i class="fa fa-star" ></i>
                                        <div class="front-stars" style="width: 70%">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="point">4.5</div>
                            </div>
                            <div class="req_count">制作件数：18</div>
                        </div>
                        <div class="strong_field">
                            得意分野
                            <div class="tag">衣装</div>
                            <div class="tag">小道具</div>
                        </div>
                        <div class="profile">
                            女子の体のラインをキレイに見せる衣装が得意です。<br>
                            完全な独学ですが、20年近く自作コスプレイヤーとして100種以上の衣装を作ってきました。<br>
                            オリジナル衣装、小物、アクセサリーや衣装の一部など、パーツのみのご相談もお待ちしてます...
                        </div>
                        <button>プロフィールを見る</button>
                    </div>
                    <div class="user_img">
                        <div><img src="{{ url_for('static', filename='img/uploads/creator_images/user_id/服1.png') }}"></div>
                        <div><img src="{{ url_for('static', filename='img/uploads/creator_images/user_id/服2.png') }}"></div>
                        <div><img src="{{ url_for('static', filename='img/uploads/creator_images/user_id/服3.png') }}"></div>
                    </div>
                </li>
                <li class="creator_box"></li>
                <li class="creator_box"></li>
                <li class="creator_box"></li>
                <li class="creator_box"></li>
                <li class="creator_box"></li>
                <li class="creator_box"></li>
                <li class="creator_box"></li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block script_area %}
    <script src="{{ url_for('static', filename='lib/fontawesome.js') }}"></script>{% endblock %}
{% block script %}{{ url_for('static', filename='js/creators.js') }}{% endblock %}