{% extends 'base.html' %}
{% block style %}{{ url_for('static', filename='css/faq.css') }}{% endblock %}

{% block content %}
    <h2>FAQ</h2>
    <section id="faq">
        <aside class="sidebar">
            <ul>
                <li class="active">▶ 始めるにあたって(Q&A)</li>
                <li>▶ ご依頼について</li>
                <li>▶ お支払いについて</li>
                <li>▶ 制作、発送について</li>
                <li>▶ 返品交換について</li>
                <li>▶ その他質問</li>
            </ul>
        </aside>
        <!-- 始めにお読みください -->


        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">COSBARAは何ですか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>#}
        {#                        COSBARAとはマンガやアニメやゲーム等に出てくるコスプレ衣装やそれらをモチーフにした創作衣装・造形・関連小物等を作って欲しい依頼者とその依頼に応えることができる制作者をマッチングするサービスです。#}
        {#                    </p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">まず最初に何をしたらいいですか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>依頼者は依頼者登録、制作者は制作者登録をお願いします。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}


        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">依頼内容はどのように入力すればいいですか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>#}
        {#                        衣装のデザイン、使用するイベント日程、希望納期など、具体的な情報をできるだけ詳細に記載してください。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">依頼後に修正をお願いできますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>依頼の進行状況によりますが、可能な範囲で修正対応いたします。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}

        <!-- お支払いについて -->
        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">支払い方法は何がありますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>クレジットカード、銀行振込、PayPal に対応しています。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">支払いが完了したかどうかを確認するには？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>マイページの「注文履歴」セクションからお支払い状況を確認できます。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}

        <!-- サイズについて -->
        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">サイズが合わない場合はどうすればいいですか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>商品到着後7日以内であれば、無料でサイズ修正を承ります。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">サイズ測定ガイドはどこにありますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>各商品ページに「サイズ測定ガイド」リンクがありますので、そちらをご参照ください。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}

        <!-- 制作・発送について -->
        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">発送状況はどこで確認できますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>#}
        {#                        発送状況はマイページの「注文履歴」から追跡番号を確認することで、配送会社の追跡システムを利用できます。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">製作期間はどのくらいですか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>通常の標準衣装の場合、注文から発送まで約2～3週間です。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}

        <!-- 返品交換について -->
        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">返品ポリシーについて教えてください</a>#}
        {#                <div class="info-box">#}
        {#                    <p>オーダーメイド商品は返品不可ですが、不良品の場合は交換または修理対応いたします。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">商品の修理をお願いできますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>#}
        {#                        はい、有料で修理対応を行っています。修理内容により費用が異なりますので、まずはお問い合わせください。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}

        <!-- その他質問 -->
        {#        <ul style="display: none;">#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">コスプレ衣装以外のアイテムも依頼できますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>はい、小道具やアクセサリー、武器なども制作可能です。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li>#}
        {#                <a href="#" onclick="toggleBox(this)">撮影用の特殊な衣装も対応できますか？</a>#}
        {#                <div class="info-box">#}
        {#                    <p>#}
        {#                        特殊衣装や舞台用衣装の制作も承ります。ただし、素材やデザインによって追加料金が発生する場合があります。</p>#}
        {#                </div>#}
        {#            </li>#}
        {#        </ul>#}

        <section class="content">
            <h3><i class="icon"></i>始めるにあたって(Q&A)</h3>
            <div class="faq-item">
                <h3><i class="icon"></i>COCOSAは何ですか？</h3>
                <p>
                    COSBARAとはマンガやアニメやゲーム等に出てくるコスプレ衣装やそれらをモチーフにした創作衣装・造形・関連小物等を作って欲しい依頼者とその依頼に応えることができる制作者をマッチングするサービスです。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>まず最初に何をしたらいいですか？</h3>
                <p>依頼者は依頼者登録、制作者は制作者登録をお願いします。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>年齢制限はありますか？</h3>
                <p>特にございませんが、未成年者がご利用になる場合は保護者の同意が必要となります。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>パスワードを忘れた際はどうしたらいいですか？</h3>
                <p>
                    ログイン前であればログイン画面からパスワード再設定のページがございますので、そちらで再設定をお願いします。ログイン後のパスワードの変更は、画面右上のご自身のアイコンメニューの「設定」内からパスワードの再設定が可能です。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>会員登録のメールが届きません</h3>
                <p>
                    ドメイン・指定受信・本文にURLがあるメールの受信拒否などの制限をかけている場合、COSBARAからのメールを受信出来ない場合があります。当サービスドメイン「@cosbara.me」を指定受信設定ご変更の上、再度メールアドレス入力によるご登録をお願いします。
                    <br>
                    またメールアドレス設定をGmailにしている場合、当サービスからのチャットの未読通知を含む自動メールがプロモーションフォルダに自動で振り分けられてしまう場合がございます。もしプロモーションフォルダに振り分けられていた場合、そのメールをメインフォルダに移動させていただければ、以後はメインフォルダに自動で振り分けられ通知も送られるようになります。
                </p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>登録情報の変更はできますか？</h3>
                <p>画面右上のご自身のアイコンメニューの「設定」内から変更可能です。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>登録情報は公開されますか？</h3>
                <p>
                    COSBARAにご提出いただいている個人情報については、原則としてご登録者様の許可なく、第三者に公開することはございません。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>依頼画像の右上に表示される「制作者募集中」等の表記は何ですか？</h3>
                <p>依頼のステータスを表示しており。 <br>
                    【制作者募集中】制作者を募集している依頼で、まだ誰とも成約していない状態 <br>
                    【送金手続き中】制作者が作成した成約書に依頼者が同意して支払い手続きをしている状態 <br>
                    【送金手続き完了】依頼者が支払いを完了し、納品を待っている状態 <br>
                    【成約完了】依頼物が納品され、やりとりが完了している状態 <br>
                    【キャンセル】依頼自体がキャンセルされている状態 <br>
                    を表しています。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>制作者のアイコンに表示されているバッジにはどのような意味がありますか？</h3>
                <p>
                    当サービスや依頼者の評価とこれまでの制作実績に基づき、総合的に判断し、特に優秀な制作者に付与しているものになります。バッジの種類は金・銀・銅の3種類があり、金が最上位のバッジになります。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>インボイスの発行を希望する際はどうしたらいいですか？</h3>
                <p>
                    依頼者としてインボイスの発行を希望するのか、制作者としてインボイスの発行を希望するのか、立場によってインボイスの請求先が異なりますので、詳しくはインボイス制度についてをご覧ください。</p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>メール通知をON・OFFにするにはどうしたらいいですか？</h3>
                <p>画面右上のご自身のアイコンメニューの「設定」内のメール通知の設定からON・OFFを切り替えることが可能です。
                    <br><small>※OFFにすると当サービスの重要なお知らせも届かなくなりますので、ご注意ください。</small></p>
            </div>
            <div class="faq-item">
                <h3><i class="icon"></i>退会するにはどうしたらいいですか</h3>
                <p>
                    お問い合わせフォームからお問い合わせください。一度退会されると、同じメールアドレスでは再登録ができませんのでご了承ください。また、依頼や請負っている案件がある場合は、その案件が終了するまで退会することはできません。</p>
            </div>
        </section>
    </section>
{% endblock %}

{% block script %}{{ url_for('static', filename='js/faq.js') }}{% endblock %}