{% extends 'login.html' %}

{% block overlay_style %}{{ url_for('static', filename='css/forgot_password.css') }}{% endblock %}

{% block overlay %}
    <section id="forgot_password">
        <div class="forgot_password_box">
            <h2>パスワードの再設定</h2>
            {% if not mail_address %}
                <div class="mail_input_box">
                    <p>登録したアカウントのメールアドレスに認証コードを送信します。</p>
                    <form action="/send_email" method="post">
                        <div>
                            <p><small>*</small>メールアドレス</p>
                            <input type="text" placeholder="メールアドレスを入力してください" name="email">
                        </div>
                        <small class="error_msg">{{ error_msg[0] }}</small>
                        <br>
                        <button type="button" class="get_authentication_code">認証コードを送信</button>
                        <br>
                        <small>※ メールアドレスを入力し「認証コードを送信」を押してください。</small><br>
                        <small>※ 認証コードは4桁の数字です。</small>
                    </form>
                </div>
                <div class="otp_code_input_box">
                    <p>通知された認証コードを入力してください。</p>
                    <form action="/check_authentication_code" method="post">
                        <div>
                            <p><small>*</small>認証コード</p>
                            <input type="text" placeholder="例)1234" name="code">
                        </div>
                        <input type="hidden" name="hidden_mail_address">
                        <small class="error_msg">{{ error_msg[1] }}</small>
                        <div>
                            <button type="button" class="back_login_btn">戻る</button>
                            <button type="submit">次へ</button>
                        </div>
                        <small>※ 認証コードの有効期限は30分です。</small>
                    </form>
                    <form class="back_login" action="/redirect_to_login">
                        <button type="submit" style="display: none"></button>
                    </form>
                </div>
            {% else %}
                <div class="ps_input_box">
                    <p>新しいパスワードをご入力いただき、パスワードを再設定してください。</p>
                    <form action="/reset_password" method="post">
                        <ul>
                            <li>
                                <p><small>*</small>新しいパスワード</p>
                                <input type="password" placeholder="パスワードを入力してください" name="password">
                                <small class="error_msg">{{ error_msg[0] }}</small>
                            </li>
                            <li>
                                <p><small>*</small>パスワード確認</p>
                                <input type="password" placeholder="もう一度パスワードを入力してください"
                                       name="confirm_password">
                                <small class="error_msg">{{ error_msg[1] }}</small>
                            </li>
                        </ul>
                        <input type="hidden" name="mail_address" value="{{ mail_address }}">
                        <div>
                            <button type="button" class="back_login_btn">戻る</button>
                            <button type="submit">変更する</button>
                        </div>
                    </form>
                    <form class="back_login" action="/redirect_to_login">
                        <button type="submit" style="display: none"></button>
                    </form>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block overlay_script %}{{ url_for('static', filename='js/forgot_password.js') }}{% endblock %}