{% extends 'base.html' %}

{% block link_area %}
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
{% endblock %}

{% block style %}static/css/index.css{% endblock %}

{% block content %}
    <section id="carousel_banner">
        <div class="carousel">
            <ul class="carousel_imgs">
                <li class="carousel_img1"></li>
                <li class="carousel_img2"></li>
                <li class="carousel_img3"></li>
                <li class="carousel_img4"></li>
                <li class="carousel_img5"></li>
            </ul>
            <ul class="bold_dot">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
            <div class="carousel_button">
                <div class="carousel_button_left">◀</div>
                <div class="carousel_button_right">▶</div>
            </div>
        </div>
    </section>
    <div id="search_container">
        <form action="/requests" method="post">
            <input type="hidden" name="left_margin" value="404px">
            <button id=irai_search class="search_img">
                <div></div>
                <div class="img"></div>
            </button>
        </form>

        <form action="/creators" method="post">
            <input type="hidden" name="left_margin" value="584px">
            <button id=seisaku_search class="search_img">
                <div></div>
                <div class="img"></div>
            </button>
        </form>
    </div>

    <div id="wave">
        <div class="waveWrapper waveAnimation">
            <div class="bgTop">
                <div class="wave waveTop"
                     style="background-image: url({{ url_for('static', filename='img/wave-top.png') }})"></div>
            </div>
            <div class="bgMiddle">
                <div class="wave waveMiddle"
                     style="background-image: url({{ url_for('static', filename='img/wave-mid.png') }})"></div>
            </div>
            <div class="bgBottom">
                <div class="wave waveBottom"
                     style="background-image: url({{ url_for('static', filename='img/wave-bot.png') }})"></div>
            </div>
        </div>
    </div>
    <!-- <div id="requests_box">
        <h3>依頼募集欄</h3>
        <div>
            <form action="/request/" method="post" class="get_request_id"></form>
            <ul>
                {% for result in results %}
                    <li data-id="{{ result['request_id'] }}">
                        <div class="request_img"
                             style="background-image: url('{{ url_for('static', filename=result['image_path']) }}')">
                            <div class="request_text">
                                <p class="request_title">
                                    {{ result['request_title'] }}</p>
                                <p class="request_time">納期希望　{{ result['request_deadline'] }}まで</p>
                            </div>
                        </div>
                        {% if result['request_status']=="0" %}
                            <div class="request_statu">制作者募集中</div>
                        {% elif result['request_status']=="1" %}
                            <div class="request_statu">制作中</div>
                        {% else %}
                            <div class="request_statu">成約完了</div>
                        {% endif %}
                        <div class="request_category">
                            {% for i in result['categories'] %}
                                <p>{{ i }}</p>
                            {% endfor %}
                        </div>
                        <button class="apply_btn">応募する</button>
                    </li>
                {% endfor %}
                {% for i in range(4) %}
                    <li data-id="{{ results[i]['request_id'] }}">
                        <div class="request_img"
                             style="background-image: url('{{ url_for('static', filename=results[i]['image_path']) }}')">
                            <div class="request_text">
                                <p class="request_title">
                                    {{ results[i]['request_title'] }}</p>
                                <p class="request_time">納期希望　{{ results[i]['request_deadline'] }}まで</p>
                            </div>
                        </div>
                        {% if results[i]['request_status']=="0" %}
                            <div class="request_statu">制作者募集中</div>
                        {% elif results[i]['request_status']=="1" %}
                            <div class="request_statu">制作中</div>
                        {% else %}
                            <div class="request_statu">成約完了</div>
                        {% endif %}
                        <div class="request_category">
                            {% for i in results[i]['categories'] %}
                                <p>{{ i }}</p>
                            {% endfor %}
                        </div>
                        <button class="apply_btn">応募する</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <form action="/requests" method="post">
            <input type="hidden" name="left_margin" value="404px">
            <button>もっと見る >></button>
        </form>
    </div> -->
{% endblock %}

{% block script %}{{ url_for('static', filename='js/index.js') }}{% endblock %}