{% extends 'base.html' %}

{% block style %}static/css/index.css{% endblock %}

{% block content %}
    <section id="carousel_banner">
        <div class="carousel">
            <ul class="carousel_imgs">
                <li class="carousel_img1"></li>
                <li class="carousel_img2"></li>
                <li class="carousel_img3"></li>
                <li class="carousel_img4"></li>
                <li class="carousel_img5"></li>
            </ul>
            <ul class="bold_dot">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
            <div class="carousel_button">
                <div class="carousel_button_left">◀</div>
                <div class="carousel_button_right">▶</div>
            </div>
        </div>
    </section>

    <div id="search_container">
        <div id=irai_search class="search_img">
            <div></div>
            <div class="img"></div>
        </div>
        <div id=seisaku_search class="search_img">
            <div></div>
            <div class="img"></div>
        </div>
    </div>

    <div id="wave">
        <div class="waveWrapper waveAnimation">
            <div class="bgTop">
                <div class="wave waveTop"
                     style="background-image: url({{ url_for('static', filename='img/wave-top.png') }})"></div>
            </div>
            <div class="bgMiddle">
                <div class="wave waveMiddle"
                     style="background-image: url({{ url_for('static', filename='img/wave-mid.png') }})"></div>
            </div>
            <div class="bgBottom">
                <div class="wave waveBottom"
                     style="background-image: url({{ url_for('static', filename='img/wave-bot.png') }})"></div>
            </div>
        </div>
    </div>
    <div id="requests_box"></div>
{% endblock %}

{% block script %}{{ url_for('static', filename='js/index.js') }}{% endblock %}