{% extends 'base.html' %}

{% block style %}static/css/login.css{% endblock %}

{% block content %}
    <h2>ユーザーログイン</h2>
    <div class="login">
        <h3>既にアカウントをお持ちの方</h3>
        <p>アカウントをお持ちでしたら、メールアドレスでログインしてください。</p>
        <form action="/login" method="post">
            <ul>
                <li>
                    <p><small>*</small>メールアドレス</p>
                    <input type="text" placeholder="メールアドレスを入力してください" name="mail_address">
                    <small class="error_msg">{{ error_msg[0] }}</small>
                </li>
                <li>
                    <p><small>*</small>パスワード</p>
                    <input type="password" placeholder="パスワードを入力してください" name="password">
                    <small class="error_msg">{{ error_msg[1] }}</small>
                </li>
                <li>
                    <label><input type="checkbox" name="remember">次回から自動ログイン</label>
                    <a href="/forgot_password">パスワードを忘れた方はこちら</a>
                </li>
                <li>
                    {% if global_data.incorrectPassword <= 2 %}
                        <button type="submit">ログイン</button>
                    {% else %}
                        <button type="submit" class="dis_btn" disabled>ログイン</button>
                    {% endif %}
                </li>
            </ul>
        </form>
    </div>
    <div class="registration">
        <h3>新規ユーザー登録</h3>
        <p>アカウントを作ると多くのメリットがあります。決済が速く、複数の住所を保持し、注文を追跡するなどです。</p>
        <form action="/registration">
            <button>アカウント作成</button>
        </form>
    </div>
    {% block overlay %}{% endblock %}
{% endblock %}

{% block script %}static/js/login.js{% endblock %}