{% extends 'base.html' %}

{% block link_area %}
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Yusei+Magic&display=swap" rel="stylesheet">
{% endblock %}
{% block style %}{{ url_for('static', filename='css/my_page_base.css') }}{% endblock %}

{% block content %}
    <h2>マイページ</h2>
    <section id="my_page_base">
        <nav>
            <ul>
                {% for key,value in page_name_list.items() %}
                    {% if key == page_num %}
                        <li class="active"><a href="#" onclick="event.preventDefault();">➤ {{ value }}</a></li>
                    {% else %}
                        {% if key == "1" and user_type=="1" %}
                            <li><a href="/my_page/9">➤ {{ value }}</a></li>
                        {% else %}
                            <li><a href="/my_page/{{ key }}">➤ {{ value }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% block my_page_content %}{% endblock %}
    </section>
{% endblock %}

{% block script %}{{ url_for('static', filename='js/my_page.js') }}{% endblock %}