{% extends 'new_request_base.html' %}

{% block new_request %}
    <section class="step_2">
        <p>制作物画像（複数可）</p>
        <div><input type="file" id="upload_img" style="display: none"></div>
        {#        <input type="hidden" name="creator_image" data-name="制作物画像">#}
        <div class="preview_area">
            <label class="add_box" for="upload_img">
                <div class="add">
                    <div class="a">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </label>
            <small class="error_msg"></small>
        </div>
        <div>
            <form action="/new_request_base/01">
                <button>戻る</button>
            </form>
            <form action="/new_request_base/03">
                <button>次へ</button>
            </form>
        </div>
    </section>
{% endblock %}