{% extends 'new_request_base.html' %}

{% block new_request %}
    <section class="step_5">
        <uL>
            <li>
                <h3>タイトル</h3>
                <p>SPY×FAMILY アーニャ･フォージャー フルセット</p>
            </li>
            <li>
                <h3>ジャンル</h3>
                <p>衣装 , 造形</p>
            </li>
            <li>
                <h3>詳細</h3>
                <p>
                    フルセットでの希望ですが、最悪ワンピースと髪飾りがあればと思います。<br>
                    基本的には全てお任せでお願いするとは思いますがこまめに進捗が知りたいです。<br>
                    大体150cmくらいのサイズになると思います。よろしくお願いします。
                </p>
            </li>
            <li>
                <h3>参考画像</h3>
                <div></div>
            </li>
            <li>
                <h3>依頼した経験</h3>
                <p>なし</p>
            </li>
            <li>
                <h3>欲しい生地や素材</h3>
                <p>決まっていない</p>
            </li>
            <li>
                <h3>再現度</h3>
                <p>ある程度、制作者にお任せる</p>
            </li>
            <li>
                <h3>参考資料</h3>
                <p>最低限の資料は準備できる</p>
            </li>
            <li>
                <h3>返信頻度</h3>
                <p>1日以内には返信可能</p>
            </li>
            <li>
                <h3>予算</h3>
                <p>相談して決めたい</p>
            </li>
            <li>
                <h3>絶対欲しいポイント</h3>
                <p>可能であれば動きやすい素材でお願いいたします</p>
            </li>
            <li>
                <h3>納期希望</h3>
                <p>2024年08月31日まで</p>
            </li>
        </ul>
        <div>
            <form action="/new_request_base/04" class="prev_step_form">
                <button type="button" class="prev_step_btn">戻る</button>
            </form>
            <form action="/add_new_request" method="post">
                <button class="submit_btn">投稿する</button>
            </form>
        </div>
    </section>
{% endblock %}