{% extends 'base.html' %}
{% block style %}static/css/news.css{% endblock %}

{% block content %}
<div class="news-container">
<div class="menu-container">
    <h2>お知らせ一覧</h2>

    <div class="bigtab">
        <button class="youtab1" type="button">あなた宛</button>
        <button class="newsTab1" type="button">ニュース</button>
    </div>
</div>

<div class="page1">
    <div class="news-filter">
        <label>
            <input type="radio" name="newsTab" value="all" checked onchange="changeTab('all')"> すべて
        </label>
        <label>
            <input type="radio" name="newsTab" value="news" onchange="changeTab('new')"> 未読
        </label>
        <label>
            <input type="radio" name="newsTab" value="events" onchange="changeTab('notnew')"> 既読
        </label>
    </div>


<div class="all-check-box">
    <input type="checkbox" id="all-check" name="all-check" />
    <label for="all-check">全て選択</label>
</div>

    <!-- お知らせ一覧表示 -->
    <div id="your-news-list" class="your-news-list">
        <!-- JavaScriptでお知らせを表示 -->
    </div>
</div>

    <div id="all-news-list" class="all-news-list">
        <!-- JavaScriptでお知らせを表示 -->
    </div>

    <!-- ページネーション -->
    <div id="pagination" class="pagination">
        <button onclick="changePage(1)">1</button>
        <button onclick="changePage(2)">2</button>
        <button onclick="changePage(3)">3</button>
        <button onclick="changePage(4)">4</button>
        <button onclick="changePage(5)">5</button>
        <button onclick="changePage(6)">6</button>
        <button onclick="changePage(7)">7</button>
        <button onclick="changePage(8)">8</button>
        <button onclick="changePage(9)">9</button>
        <button onclick="changePage(10)">10</button>
    </div>
</div>
{% endblock %}

{% block script %}static/js/news.js{% endblock %}