{% extends 'base.html' %}

{% block style %}{{ url_for('static', filename='css/registration.css') }}{% endblock %}

{% block content %}
    <h2>ユーザー登録</h2>
    <div class="registration">
        <h3>新規ユーザー登録</h3>
        <p>アカウントを作ると多くのメリットがあります。決済が速く、複数の住所を保持し、注文を追跡するなどです。</p>
        {% if  user_type == "requester_user" %}
            <div id="option">
                <label for="requester_user" class="checked">依頼者として登録！</label>
                <label for="creator_user">制作者として登録！</label>
            </div>
        {% else %}
            <div id="option">
                <label for="requester_user">依頼者として登録！</label>
                <label for="creator_user" class="checked">制作者として登録！</label>
            </div>
        {% endif %}
        <input type="radio" name="user_type" id="requester_user" value="requester_user" style="display: none">
        <input type="radio" name="user_type" id="creator_user" value="creator_user" style="display: none">
        <form id="myForm" action="/change_user_type" method="GET" style="display: none">
            <input type="hidden" name="user_type_data" value="">
        </form>
        {% if  user_type == "requester_user" %}
            <form action="/check_registration/requester_user" method="post" id="requester_form">
                <ul>
                    <li>
                        <p><small>*</small>ニックネーム</p>
                        <input type="text" placeholder="ニックネームを入力してください" name="nickname"
                               data-name="ニックネーム">
                        <small class="error_msg"></small>
                    </li>
                    <li>
                        <p><small>*</small>メールアドレス</p>
                        <input type="text" placeholder="メールアドレスを入力してください" name="email"
                               data-name="メールアドレス">
                        <a class="get_authentication_code">認証コードを取得する（45）</a>
                        <small class="error_msg">{{ error_msg[0] }}</small>
                    </li>
                    <li>
                        <p><small>*</small>メール認証コード</p>
                        <input type="text" placeholder="メール認証コードを入力してください" name="authentication_code"
                               data-name="メール認証コード">
                        <small class="error_msg">{{ error_msg[1] }}</small>
                    </li>
                    <li>
                        <p><small>*</small>パスワード</p>
                        <input type="password" placeholder="パスワードを入力してください" name="password"
                               data-name="パスワード">
                        <small class="error_msg"></small>
                    </li>
                    <li>
                        <p><small>*</small>パスワード確認</p>
                        <input type="password" placeholder="パスワード確認を入力してください" name="confirm_password"
                               data-name="パスワード確認">
                        <small class="error_msg">{{ error_msg[2] }}</small>
                    </li>
                    <li>
                        <label><input type="checkbox"><a>利用規約に同意する</a></label>
                        <small class="error_msg"></small>
                    </li>
                </ul>
                <button class="requester_btn dis_btn" type="button">登　録</button>
            </form>
        {% else %}
            <form action="/check_registration/creator_user" method="post" id="creator_form">
                <ul>
                    <li>
                        <p><small>*</small>ニックネーム</p>
                        <input type="text" placeholder="ニックネームを入力してください" name="nickname"
                               data-name="ニックネーム">
                        <small class="error_msg"></small>
                    </li>
                    <li>
                        <p><small>*</small>メールアドレス</p>
                        <input type="text" placeholder="メールアドレスを入力してください" name="email"
                               data-name="メールアドレス">
                        <a class="get_authentication_code">認証コードを取得する（45）</a>
                        <small class="error_msg">{{ error_msg[0] }}</small>
                    </li>
                    <li>
                        <p><small>*</small>メール認証コード</p>
                        <input type="text" placeholder="メール認証コードを入力してください" name="authentication_code"
                               data-name="メール認証コード">
                        <small class="error_msg">{{ error_msg[1] }}</small>
                    </li>
                    <li>
                        <p><small>*</small>パスワード</p>
                        <input type="password" placeholder="パスワードを入力してください" name="password"
                               data-name="パスワード">
                        <small class="error_msg"></small>
                    </li>
                    <li>
                        <p><small>*</small>パスワード確認</p>
                        <input type="password" placeholder="パスワード確認を入力してください" name="confirm_password"
                               data-name="パスワード確認">
                        <small class="error_msg">{{ error_msg[2] }}</small>
                    </li>
                    <li>
                        <p><small>*</small>電話番号</p>
                        <input type="text" placeholder="電話番号を入力してください" name="tel" data-name="電話番号">
                        <small class="error_msg">{{ error_msg[3] }}</small>
                    </li>
                    <li>
                        <p><small>*</small>制作に関する略歴</p>
                        <textarea placeholder="制作に関する略歴を入力してください" name="creator_history"
                                  data-name="制作に関する略歴"></textarea>
                        <p class="count_text">0/1200文字</p>
                        <small class="error_msg"></small>
                    </li>
                    <li>
                        <p><small>*</small>制作物画像(複数可)</p>
                        <div><input type="file" id="upload_img" style="display: none"></div>
                        <input type="hidden" name="image" data-name="制作物画像">
                        <div class="preview_area">
                            <label class="add_box" for="upload_img">
                                <div class="add">
                                    <div class="a">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <small class="error_msg"></small>
                    </li>
                    <li>
                        <label><input type="checkbox"><a>利用規約に同意する</a></label>
                        <small class="error_msg"></small>
                    </li>
                </ul>
                <button class="creator_btn dis_btn" type="button">登　録</button>
            </form>
        {% endif %}
        <form action="/send_email" method="POST" style="display: none">
            <input type="hidden" name="email" value="">
        </form>
    </div>
    <div class="login">
        <h3>既にアカウントをお持ちの方</h3>
        <p>アカウントをお持ちでしたら、メールアドレスでログインしてください。</p>
        <form action="/redirect_to_login">
            <button>ログインする</button>
        </form>
    </div>
{% endblock %}

{% block script_area %}
    {% if alert_message %}
        alert("{{ alert_message }}");
    {% endif %}
{% endblock %}
{% block script %}{{ url_for('static', filename='js/registration.js') }}{% endblock %}